In [ ]:
import pandas as pd

reviews=pd.read_csv("./data/ramen-ratings.csv")

#reviews.Brand.describe() #Describe the Brand column giving the count how many unique , the top and the freq 


#reviews.Stars.mean()  #give the median if the column data is an int or float [not the case here]

reviews.Style.unique() # gives an array of unique values in the column

array(['Cup', 'Pack', 'Tray', 'Bowl', 'Box', 'Can', 'Bar', nan],
      dtype=object)

In [ ]:
reviews.dtypes #gives each column data type

reviews.head(250) # give the first 250 Rows


# Mapping a current Data to change its's state
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)


# Onther way to do mapping with apply function
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
245,2335,Nissin,Cup Noodles Gourmet Sabor A Caldo De Camaron,Cup,Mexico,5,NaN
246,2334,Nissin,"Sopa Nissin Sabor Mariscos, Habanero Y Limon",Cup,Mexico,4,NaN
247,2333,Nissin,Maxi Sopa Nissin Cuchareable Sabor A Pollo,Cup,Mexico,4,NaN
248,2332,Nissin,Sopa Nissin Sabor A Res Instantanea Tipo Ramen,Pack,Mexico,4,NaN
249,2331,Nissin,Cup Noodles Sopa Nissin Hot Sauce Sabor A Pollo,Cup,Mexico,4,NaN