In [3]:
# modules we'll use
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# read in our data
landslides = pd.read_csv("../data/catalog.csv")

# set seed for reproducibility
np.random.seed(0)

Get The Dates of the First Few Rows

In [4]:
landslides['date'].head()

0     3/2/07
1    3/22/07
2     4/6/07
3    4/14/07
4    4/15/07
Name: date, dtype: object

Notice That the type of the date column is and Object not a date

In [5]:
landslides['date'].dtype

dtype('O')

Parse The string into those formated Dates

In [12]:
landslides['date-parsed']=pd.to_datetime(landslides['date'],format="%m/%d/%y")
landslides['date-parsed']

#onther format four digit year

#landslides['date-parsed-four-digit-year']=pd.to_datetime(landslides['date'],format="%m/%d/%Y")
#landslides['date']

0      2007-03-02
1      2007-03-22
2      2007-04-06
3      2007-04-14
4      2007-04-15
          ...
1688   2015-12-07
1689   2016-02-22
1690   2016-02-23
1691   2016-02-26
1692   2016-03-02
Name: date-parsed, Length: 1693, dtype: datetime64[ns]

Get the Day occures in each date

In [14]:
days=landslides['date-parsed'].dt.day
days.head()

0     2.0
1    22.0
2     6.0
3    14.0
4    15.0
Name: date-parsed, dtype: float64