In [2]:
import pandas as pd

# Create a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
}

df = pd.DataFrame(data)

# Display the DataFrame
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
pd.DataFrame({
    'Bob':['I Like it','It was awful'],
    'Alice':['Pretty good','Bland.']
    },
    index=["productA","productB"] # index is the Row name
)

                   Bob        Alice
productA     I Like it  Pretty good
productB  It was awful       Bland.

In [ ]:
pd.Series([1, 2, 3, 4, 5])
#A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. 
# And in fact you can create one with nothing more than a list:

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series([100,200,300],index=['2015 Sales','2016 Sales','2017 Sales'],name="Sales")

2015 Sales    100
2016 Sales    200
2017 Sales    300
Name: Sales, dtype: int64